  /* semantic font variables for this project */
  :root {

    --font-primary: 'Lexend', sans-serif;
    --font-secondary: 'Chivo Mono', monospace;
  }
  :root{
    --vn-c-white: #ffff;
    --vn-bg-light: #e0e5ec;
    --vn-bg-dark: #141d26;
    --vn-bg-dark-soft: #192633;
    --vn-bg-dark-mute: #26333f;

    --vn-c-divider-light-1: rgba(60, 60, 60, 0.29);
    --vn-c-divider-light-2: rgba(60, 60, 60, 0.12);

    --vn-c-text-light: #2c3e50;
    --vn-c-text-dark1: #f8f8f8;
    --vn-c-text-dark2: #FEFFE3;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --color-background: var(--vn-bg-dark);
      --color-background-soft: var(--vn-bg-black-soft);
      --color-background-mute: var(--vn-bg-black-mute);

      --color-border: var(--vn-c-divider-dark-2);
      --color-border-hover: var(--vn-c-divider-dark-1);

      --color-heading: var(--vn-c-text-dark1);
      --color-text: var(--vn-c-text-dark2);
    }
  }

  :root {
    --vt-c-white: #ffffff;
    --vt-c-white-soft: #f8f8f8;
    --vt-c-white-mute: #f2f2f2;
    --vt-c-milky: #FEFFE3;
    --vt-c-greyLight-1: #E4EBF5;
    --vt-c-greyLight-2: #c8d0e7;
    --vt-c-greyLight-3: #bec8e4;
    --vt-c-greyDark: #9baacf;
    --vt-c-black: #181818;
    --vt-c-black-soft: #222222;
    --vt-c-black-mute: #282828;

    --vt-c-indigo: #2c3e50;

    --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
    --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
    --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
    --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

    --vt-c-text-light-1: var(--vt-c-indigo);
    --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
    --vt-c-text-dark-1: var(--vt-c-white);
    --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
    /* primary */
    --vt-c-primary: #7C2400;
    /* monochromatic */
    --vt-c-soft-primary: #AF3300;
    /* triadic */
    --vt-c-navy: #24007C;
    --vt-c-green: #007C24;
    --vt-c-purple: #62007C;
    --vt-c-blue: #00587C;
    /* secondary */
    --vt-c-secondary: #00587C;
    --vt-c-soft-secondary: #007CAF;
    --vt-c-soft-secondary-opc: #007daf91;
    --vt-c-soft-skyblue: #cbe8f4;
    /* triadic */
    --vt-c-limegreen: #007c61cc;
    --vt-c-brown: #7C2400;
    --vt-c-purple: #62007C;
    /* #c3f1fd94 */
    --vt-light-secondary: #DBF5FC;
    --vt-l-nav-shadow: linear-gradient(145deg, #c5f3ff, #a6ccdc);
    --vt-shadow:  .3rem .3rem .6rem var(--vt-c-greyLight-2), 
    -.2rem -.2rem .5rem var(--vt-c-white);
    --vt-inner-shadow:  inset .2rem .2rem .5rem var(--greyLight-2), 
    inset -.2rem -.2rem .5rem var(--vt-c-white);
  }

  /* semantic color variables for this project */
  :root {
    --color-background: var(--vt-c-white-soft);
    --color-primary-bg: var(--vt-c-primary);
    --color-secondary-bg: var(--vt-c-soft-secondary-opc);
    --color-milky-background: var(--vt-c-milky);
    --color-background-soft: var(--vt-c-white-soft);
    --color-background-mute: var(--vt-c-white-mute);

    --color-border: var(--vt-c-divider-light-2);
    --color-border-hover: var(--vt-c-divider-light-1);

    --color-heading: var(--vt-c-text-light-1);
    --color-text: var(--vt-c-text-light-1);

    --grad-primary:

      --section-gap: 160px;

    --box-shadow-bs: 20px 20px 60px #9cc1cf,
      -20px -20px 60px #d4ffff;

    --bs-bg-1: #b8e3f4;
    --bs-bg-2: linear-gradient(145deg, #a6ccdc, #c5f3ff);
    --bs-bg-3: linear-gradient(145deg, #c5f3ff, #a6ccdc);
    --bs-bg-4: #b8e3f4;
  }

